* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

/*Colors */
/* */
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0px; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

.complete {
  display: none; }

.row::before, .row::after {
  content: "";
  display: table;
  clear: both; }

.complete {
  display: none; }

body {
  overflow-x: hidden; }
  body .underLook {
    position: fixed;
    top: 0px;
    left: 0;
    padding: 0;
    z-index: -1;
    height: 100vh;
    background: url("https://images.pexels.com/photos/276724/pexels-photo-276724.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-position: bottom; }
  body header {
    height: 80px;
    padding: 10px;
    background: url("https://images.pexels.com/photos/276528/pexels-photo-276528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    filter: brightness(130%);
    background-size: cover;
    font-size: 0; }
    body header nav {
      height: 80px;
      background: rgba(255, 255, 255, 0.9); }
      body header nav .bars {
        display: none; }
      body header nav .header--list {
        height: 80px;
        list-style-type: none;
        text-align: center;
        padding: 0 5% 0 3%; }
        body header nav .header--list a {
          color: #000;
          text-decoration: none; }
        body header nav .header--list .header--list--contact {
          height: 80px;
          line-height: 80px;
          font-size: 18px;
          display: inline-block;
          color: #333;
          font-weight: 600;
          padding: 0 30px;
          transition: 0.7s; }
          body header nav .header--list .header--list--contact:hover {
            background: #fff; }
          body header nav .header--list .header--list--contact i {
            font-size: 20px;
            padding: 0 10px;
            color: #e2001e; }
          body header nav .header--list .header--list--contact span {
            color: #e2001e;
            font-weight: bold; }
        body header nav .header--list .header--list--items {
          float: right;
          position: relative;
          line-height: 80px;
          height: 80px;
          text-align: center;
          font-size: 18px;
          display: inline-block;
          color: #333;
          font-weight: bold;
          cursor: pointer;
          min-width: 200px;
          border-radius: 5px;
          transition: 0.7s; }
          body header nav .header--list .header--list--items:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            height: 70px;
            width: 0;
            border-bottom: 3px solid #e2001e;
            transition: 1.2s; }
          body header nav .header--list .header--list--items:hover {
            background: #fff; }
            body header nav .header--list .header--list--items:hover:before {
              left: 10%;
              width: 80%; }
          body header nav .header--list .header--list--items i {
            padding-left: 10px;
            transform: translateY(-3px);
            text-align: center; }
          body header nav .header--list .header--list--items a {
            z-index: 30;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
      body header nav .header--list--offerList {
        height: auto;
        font-size: 0;
        list-style-type: none;
        background: #fff;
        text-align: right;
        padding-right: 6%;
        overflow: hidden;
        height: 0px;
        opacity: 0; }
        body header nav .header--list--offerList .header--offerlist--item {
          display: inline-block;
          margin: 0;
          border-radius: 5px; }
          body header nav .header--list--offerList .header--offerlist--item a {
            cursor: pointer;
            position: relative;
            font-weight: 600;
            padding: 20px 30px;
            font-size: 20px;
            color: #333;
            display: block;
            height: 100%;
            text-decoration: none;
            transition: 0.7s; }
            body header nav .header--list--offerList .header--offerlist--item a:before {
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              height: 50px;
              width: 0;
              border-bottom: 1px solid #e2001e;
              transition: 0.7s; }
            body header nav .header--list--offerList .header--offerlist--item a:hover {
              background: #fff; }
              body header nav .header--list--offerList .header--offerlist--item a:hover:before {
                left: 10%;
                width: 80%; }
  body .first {
    height: auto;
    background: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff; }
    body .first .first--shadow {
      padding: 0 10%;
      height: auto;
      padding-bottom: 50px;
      background: rgba(0, 2, 34, 0.7); }
      body .first .first--shadow h2 {
        font-size: 36px;
        letter-spacing: 2px;
        margin: 50px 0;
        text-shadow: 0 0 5px #333;
        font-weight: bold; }
      body .first .first--shadow h4 {
        font-size: 22px;
        letter-spacing: 1px;
        margin: 20px 0;
        text-shadow: 0 0 5px #333; }
      body .first .first--shadow p {
        font-size: 20px;
        margin: 20px 0;
        text-shadow: 0 0 5px #333; }
      body .first .first--shadow .first--shadow--row {
        margin: 30px 0; }
        body .first .first--shadow .first--shadow--row .envelope--to--form {
          cursor: pointer; }
        body .first .first--shadow .first--shadow--row .marker--to--map {
          cursor: pointer; }
        body .first .first--shadow .first--shadow--row .contact--box {
          margin: 10px 0; }
          body .first .first--shadow .first--shadow--row .contact--box i {
            font-size: 30px;
            color: #e2001e; }
          body .first .first--shadow .first--shadow--row .contact--box p {
            font-size: 22px; }
  body .clearView {
    height: 200px;
    background: transparent; }
  body .contact {
    background: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-position: center; }
    body .contact .contact--box {
      padding: 20px 5%;
      background: rgba(0, 2, 34, 0.7); }
      body .contact .contact--box .contact--head {
        padding: 30px 0 50px; }
        body .contact .contact--box .contact--head h2 {
          color: #fff;
          font-size: 46px;
          font-weight: bold;
          letter-spacing: 2px; }
        body .contact .contact--box .contact--head p {
          margin: 10px 0;
          font-size: 16px;
          color: #fff;
          letter-spacing: 1px;
          line-height: 25px; }
      body .contact .contact--box .contact--box--form {
        padding: 8px;
        text-align: center;
        height: auto;
        background: transparent;
        border-radius: 20px;
        text-align: left; }
        body .contact .contact--box .contact--box--form input {
          margin: 10px 0;
          padding: 10px;
          border-radius: 5px;
          border: none; }
        body .contact .contact--box .contact--box--form .message {
          padding: 10px;
          border: none;
          margin: 10px 0;
          border-radius: 5px;
          height: 255px; }
        body .contact .contact--box .contact--box--form .submit {
          background: #333;
          font-weight: bold;
          font-size: 18px;
          border: 1px solid #e2001e;
          color: #fff;
          cursor: pointer;
          transition: 0.5s; }
          body .contact .contact--box .contact--box--form .submit:hover {
            background: #e2001e;
            color: #fff; }
      body .contact .contact--box .contact--box--map iframe {
        padding: 20px 10px 10px 10px;
        height: 440px; }
  body .footer {
    text-align: center;
    height: 330px;
    background: #333;
    color: #fff;
    font-weight: bold;
    position: relative; }
    body .footer .container .footer--contactAndNav .footer--nav .footer--nav--item {
      cursor: pointer;
      height: 50px;
      border-right: 4px solid #e2001e;
      padding: 0;
      margin: 10px 0;
      transition: 0.3s; }
      body .footer .container .footer--contactAndNav .footer--nav .footer--nav--item:hover {
        border-radius: 20px;
        background: #e2001e; }
      body .footer .container .footer--contactAndNav .footer--nav .footer--nav--item p {
        font-size: 16px;
        line-height: 50px;
        font-weight: bold; }
        body .footer .container .footer--contactAndNav .footer--nav .footer--nav--item p a {
          color: #fff;
          text-decoration: none;
          display: block; }
    body .footer .container .footer--contactAndNav .footer--contact {
      background: #efeded;
      color: #222;
      margin: 25px 0 25px;
      border-radius: 20px;
      padding: 10px 0; }
      body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box {
        margin: 0 0 10px 0; }
        body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box i {
          margin: 20px 0;
          font-size: 25px;
          color: #e2001e; }
        body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box p {
          font-size: 15px; }
    body .footer .container .footer--furnitureNav .furniture--header {
      cursor: pointer;
      height: 50px;
      padding: 0;
      margin: 10px 0;
      transition: 0.3s; }
      body .footer .container .footer--furnitureNav .furniture--header:hover {
        border-radius: 20px;
        background: #e2001e; }
      body .footer .container .footer--furnitureNav .furniture--header p {
        font-size: 16px;
        line-height: 50px;
        font-weight: bold; }
    body .footer .container .footer--furnitureNav .footer--furnitureNav--nav {
      margin-top: 10px;
      list-style-type: none;
      padding-left: 15%; }
      body .footer .container .footer--furnitureNav .footer--furnitureNav--nav .footer--furnitureNav--nav--item {
        text-align: left;
        font-size: 15px;
        padding: 2px 0 2px;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        border-radius: 5px;
        transition: 0.8s; }
        body .footer .container .footer--furnitureNav .footer--furnitureNav--nav .footer--furnitureNav--nav--item:before {
          border-radius: 5px 0 0 5px;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 0;
          width: 10px;
          background: #e2001e;
          transition: 0.8s; }
        body .footer .container .footer--furnitureNav .footer--furnitureNav--nav .footer--furnitureNav--nav--item:hover {
          background: #222; }
          body .footer .container .footer--furnitureNav .footer--furnitureNav--nav .footer--furnitureNav--nav--item:hover:before {
            height: 100%; }
        body .footer .container .footer--furnitureNav .footer--furnitureNav--nav .footer--furnitureNav--nav--item a {
          color: #fff;
          text-decoration: none;
          display: block; }
    body .footer .footer--rights {
      background: #e2001e;
      height: 50px;
      line-height: 50px;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0; }

@media (max-width: 1600px) {
  body header nav .header--list .header--list--contact {
    font-size: 13px;
    padding: 0 10px; }
    body header nav .header--list .header--list--contact i {
      padding: 0 5px;
      font-size: 16px; }
  body header nav .header--list .header--list--items {
    font-size: 16px;
    min-width: 180px; } }
@media (max-width: 1200px) {
  body header .header--logo h1 {
    font-size: 28px;
    line-height: 55px; }
  body header nav .header--list .header--list--contact {
    font-size: 11px; }
    body header nav .header--list .header--list--contact i {
      font-size: 12px; }
  body header nav .header--list .header--list--items {
    font-size: 14px;
    min-width: 140px; }
  body header nav .header--list--offerList {
    height: 55px; }
    body header nav .header--list--offerList .header--offerlist--item a {
      font-size: 14px;
      padding: 16px; } }
@media (max-width: 900px) {
  body header nav .header--list .header--list--contact {
    font-size: 10px;
    padding: 0 5px; }
    body header nav .header--list .header--list--contact i {
      font-size: 10px; }
  body header nav .header--list .header--list--items {
    font-size: 12px;
    min-width: 120px; }
  body header nav .header--list--offerList {
    height: 55px; }
    body header nav .header--list--offerList .header--offerlist--item a {
      font-size: 12px;
      padding: 10px; }
      body header nav .header--list--offerList .header--offerlist--item a:before {
        height: 30px; }
  body .first .first--shadow .first--shadow--row .contact--box p {
    font-size: 14px; }
  body .footer .container .footer--contactAndNav .footer--nav .footer--nav--item p {
    font-size: 18px; }
  body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box p {
    font-size: 14px; }
  body .footer .container .footer--furnitureNav .furniture--header p {
    font-size: 18px; }
  body .footer .container .footer--furnitureNav .footer--furnitureNav--nav {
    padding-left: 5%; }
    body .footer .container .footer--furnitureNav .footer--furnitureNav--nav .footer--furnitureNav--nav--item {
      font-size: 14px; } }
@media (max-width: 750px) {
  body header {
    padding: 0;
    height: 50px; }
    body header nav {
      background: #fff;
      padding: 0;
      height: 50px; }
      body header nav .header--logo .header--logo__img {
        margin-top: 5px; }
      body header nav .bars {
        display: block;
        position: relative;
        line-height: 60px; }
        body header nav .bars p {
          display: inline-block;
          font-size: 12px;
          padding-left: 10px;
          font-weight: bold; }
          body header nav .bars p i {
            font-size: 14px;
            color: #e2001e; }
        body header nav .bars .fa-bars {
          position: absolute;
          top: 10px;
          right: 35px;
          font-size: 33px;
          cursor: pointer; }
      body header nav .header--list {
        height: 0px;
        overflow: hidden; }
        body header nav .header--list .header--list--contact {
          display: none; }
        body header nav .header--list .header--list--items {
          line-height: 40px;
          height: 40px;
          font-size: 16px; }
          body header nav .header--list .header--list--items:before {
            border: none; }
      body header nav .header--list--offerList {
        height: 0px;
        padding: 0; }
        body header nav .header--list--offerList .header--offerlist--item {
          display: block;
          text-align: center;
          height: auto; }
          body header nav .header--list--offerList .header--offerlist--item a {
            font-size: 16px;
            padding: 10px; }
            body header nav .header--list--offerList .header--offerlist--item a:before {
              display: none; }
  body .first .first--shadow h2 {
    font-size: 30px;
    margin: 30px 0; }
  body .first .first--shadow h4 {
    font-size: 18px;
    margin: 45px 0 20px; }
  body .first .first--shadow p {
    font-size: 14px;
    margin: 10px 0; }
  body .first .first--shadow .first--shadow--icons i {
    margin: 0 20px;
    font-size: 35px; }
  body .contact .contact--box .contact--head {
    padding: 20px 0;
    text-align: center; }
    body .contact .contact--box .contact--head h2 {
      font-size: 30px; }
    body .contact .contact--box .contact--head p {
      font-size: 14px; }
  body .footer {
    height: 550px;
    margin-top: 150px; }
    body .footer .container .footer--contactAndNav .footer--nav .footer--nav--item {
      width: 80%;
      border-right: none;
      border-bottom: 3px solid #e2001e;
      margin: 5px 10%;
      height: 40px; }
      body .footer .container .footer--contactAndNav .footer--nav .footer--nav--item p {
        font-size: 14px;
        line-height: 40px; }
    body .footer .container .footer--contactAndNav .footer--contact {
      margin: 10px 0;
      padding: 0 0 5px 0; }
      body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box {
        margin: 0 0 5px 0; }
        body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box i {
          margin: 15px 0 5px;
          font-size: 20px; }
        body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box p {
          font-size: 14px; }
    body .footer .container .footer--furnitureNav .furniture--header {
      border-bottom: 3px solid #e2001e;
      margin: 5px 10%;
      width: 80%; }
      body .footer .container .footer--furnitureNav .furniture--header p {
        font-size: 16px; } }
@media (max-width: 370px) {
  body .first .first--shadow {
    padding: 0 3%; }
    body .first .first--shadow .first--shadow--row .contact--box {
      margin: 10px 0; }
      body .first .first--shadow .first--shadow--row .contact--box p {
        font-size: 12px; } }
@media (max-width: 330px) {
  body header nav .bars .fa-bars {
    font-size: 32px;
    top: 15px; }
  body .footer {
    height: 620px;
    margin-top: 120px; }
    body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box i {
      font-size: 18px; }
    body .footer .container .footer--contactAndNav .footer--contact .footer--contact--box p {
      font-size: 12px; }
    body .footer .container .footer--furnitureNav .furniture--header p {
      font-size: 14px; }
    body .footer .container .footer--furnitureNav .footer--furnitureNav--nav .footer--furnitureNav--nav--item {
      font-size: 12px;
      line-height: 18px;
      width: 100%; }
    body .footer .footer--rights {
      height: auto; }
      body .footer .footer--rights p {
        line-height: 15px;
        width: 100%;
        font-size: 11px; } }

/*# sourceMappingURL=kontakt.css.map */
